# Arquivos gerados pelo build
# Isso impede que os arquivos de build (binários) sejam adicionados ao repositório.
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Pacotes NuGet
# A pasta de pacotes NuGet (`packages`) deve ser ignorada.
# O Visual Studio restaura os pacotes automaticamente com base no arquivo de projeto.
packages/
*.nupkg

# Arquivos de metadados do Visual Studio
# Ignora arquivos de usuário e de cache do Visual Studio que são específicos de cada desenvolvedor.
.vs/
*.suo
*.user
*.userprefs
*.dbmdl

# Arquivos do Resharper (se você usa)
# Resharper cria arquivos de cache que não devem ser versionados.
_ReSharper.*/
[Tt]emp/

# Arquivos de Log e de Testes
# Ignora logs e resultados de testes.
log/
logs/
*.log
TestResults/
*.trx

# Arquivos de publicação
# Isso evita que a saída de uma publicação (`publish`) seja adicionada.
[Pp]ublish/
[Pp]ublish/[^/]*

# Arquivos de configurações do IIS Express (se você usa)
# Estes arquivos são gerados localmente e não devem ser compartilhados.
apphost.config
iisexpress.config

# Arquivos de segredos do usuário
# Este arquivo contém segredos de desenvolvimento e deve ser ignorado.
# https://learn.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-8.0
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Arquivos de dependência do npm (se seu projeto usa front-end)
# Geralmente o diretório node_modules é muito grande e deve ser ignorado.
node_modules/

# Diversos
# Ignora arquivos temporários e de sistema.
*.bak
*.tmp
*.pdb
*.pid
*.ps1
*.psd1
*.psm1
*.sh
*.bat
Thumbs.db
Desktop.ini